.printPage {
  position: relative;
}

.printBackgroundImage {
  display: none;
  width: 100%;
}

.printContent {
  position: relative;
  padding: 30px;
}

.tight li {
  margin-bottom: 10px;
}

@media print {
  .printPage {
    width: 8.5in;
    height: 11in;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .printBackgroundImage {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .printContent {
    display: none;
  }
}
